*{
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    font-family:  "Helvetica", sans-serif ;
}
.row{
    display: flex;
}
.text-align{
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;

}

p {
    font-size: 16px;
}

.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #fff;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
}
h1{
    margin-top: 0;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
}
button{
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color .2s ease;
}
button:hover{
    background-color: #45a049;
}
#total{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

















